/*----------------Général----------------*/
html 
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 2%;
    margin: 0em;
}

h1, h2, h3
{
    font-weight: bold;
}

h2
{
    font-size: medium;
}

a
{ 
    text-decoration: none;
    color: inherit;
}

.color
{
   color: #0065FC; 
}

.nocolor
{
    color:#F2F2F2
}


/*--------------------HEADER------------*/
.header
{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.headerlogo
{
    margin: 0 0 1.8em 0;
    padding: 0.8em 0 0 0;  
}

.navbar
{
    padding-top: 0.6em;
    margin-right: 1em;
}

a.logements
{
    border-top: 3px solid #0065FC;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
}

.activite_lien
{
    padding: 2em;
}

.hebergement a
{
    display: block;
}

.activite_lien a
{
    display: block;
}

/*-----------------SECTION 1-------------*/
/*---------------BARRE RECHERCHE VILLE---*/
.recherche
{
    margin: 2%;
}

.titre
{
    line-height: 6%;
}

.barre_recherche
{
    display: inline-flex;
    text-align: center;
    height: 5%;
    margin-top: 1em;  
}

.endroit
{
    font-size: 1.1em;
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
    padding: 1em;
}

.caserecherche
{
    font-size: 1.1em;
    display: flex;
    border: 1px solid #F2F2F2;
    width: 100%;
}

.caserecherche::placeholder
{
    font-weight: bold;
    color: black;
    border: 0em;
    padding-left: 1em;
}

.caserecherchetxt
{
    font-size: 1em;
    border: 0;
}

.buttonrechercher
{
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #0065FC;
    text-align: center;
    border: 0;
    border-radius: 0 1em 1em 0;
    padding-right: 1em;
}

.fas.fa-search
{
    display: none;
}

/*---------------BARRE FILTRES-----------*/

.filtresrecherche
{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    margin-top: 2em; 
    flex-direction: row;
    margin-right: 1%;
    width: 100%;
}

.barrefiltres
{
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    padding-right: 3%;
    margin-left: 1%;
    max-width: 90%;
}

.barrefiltres:hover
{
    background-color: #DEEBFF;
}

.iconesfiltres
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    margin: -2px 10px -2px -2px;
}
.infoville
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.iconeinfoville
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    height: 1.4em;
    width: 1.4em;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin: 2em 1em 2em 1em;
    padding:2px;   
}

/*-----------------SECTION 2-------------*/
/*---------------HEBERGEMENTS-----------*/
.main
{
    display: flex;
    align-content: center;
    padding-bottom: 0em;
    margin: 2%;
}

.hebergement
{
    border-radius: 1em;
    background-color: #F2F2F2;  
    height: initial;
    width: 70%;

}
.hebergement_titre
{
    padding: 2em 0 0 2em;
}

.container_hebergement
{
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-flow: wrap;
    justify-content: center;
    padding: 0;  
}

.detailhebergement
{
    background-color: white;
    border-radius: 1.5em;
    padding: 4px;
    margin: 1%;
    justify-content: center;
    box-shadow: 0 0 15px #0000002e; 
    width: 29%;
}
.hebergementimg
{
    height: 130px;
    width: 100%;
    border-radius: 1.5em 1.5em 0 0;
    border: 1px solid white;
    box-sizing: content-box;
    object-fit: cover;
    text-align: center;
}

.textehebergement 
{
    padding: 1em;
    padding-top: 0em;
}

.textehebergement p
{
    margin-bottom: 1em;
    margin-top: 0em;
}

.notehebergement
{
    padding: 1% 0 0 4%;
    font-size: 1.2em;
}

/*---------------POPULAIRES-----------*/

.popularite
{
    background-color: #F2F2F2;
    border-radius: 1em;
    margin-left: 2%;
    flex-flow: column;
    width: 30%;
} 

.titrepopularite
{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1em 1em;
    font-size: 1.4em;
}

.containerpopularite > a
{
    display: block;
    width: 100%;
}

.listepophebergement
{
    display: flex;
    align-items: center;
    height: 180px;
    background-color: white;
    border-radius: 1.2em;
    margin: 5%;
    box-shadow: 0 0 15px #0000002e; 
    font-size: 1em;
}

.populariteimg
{
    height: 100%;
    width: 45%;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 3px solid white;
    border-radius: 1.2em 0 0 1.2em;
    box-sizing: border-box;
    object-fit: cover;
}

.textepopulariteimg
{
    max-height: 100%;
    max-width: 90%;
    padding-left: 2%;
    padding-right: 2%;
}

.textepopulariteimg > .fa-star
{
    margin-top: 19%;
    font-size: 90%;
}

.textepopulariteimg > p
{
    padding-bottom: 14%;
    font-size: 95%; 
}

.textepopulariteimg > h2
{
    margin-top: 2%; 
    font-size: 95%;
}


/*---------------ACTIVITES-----------*/
.activite
{
    margin-top: 4em;
}

.detail_titre_activite
{
    margin-left: 1.8em;
}

.container_activite
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1em;
    background-color: white;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding: 1%;
}

.container_activite a
{
    width: 100%;  
}

.container_activite h5
{
    padding-left: 1em;
    margin-top: 0.8em;
    padding-bottom: 1em;
}

.detail_activitexl 
{
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 15px #0000002e;
    margin-right: 1em;
    margin-left: 1em;
}

.activiteimglarge
{
    height: 500px;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.detail_activite
{
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 15px #0000002e; 
    margin-right: 1em;
    margin-left: 1em;
}

.activiteimg_medium
{
    height: 255px;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_small
{
    height: 180px;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

/*---------------FOOTER-----------*/

footer
{
    background-color: #F2F2F2;
    width: 100%;
}

.footer_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 76%;
}

.col h4
{
    font-weight: bold;
}

ul
{
    list-style-type: none;  
}

.col
{
    line-height: 1.8em;
    padding-top: 1em;
}

/*---------------@media-----------*/
/*---------------mobile-----------*/

@media screen and (max-width: 320px)
{
Body
{
    max-width: 320px;
    width: 100%;
}

.nav
{
    width: 50%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbar
{
    width: 100%;
    margin: 0em;
}

.recherche
{
    margin: 1em;
}

.titre
{
    line-height: 1.6em;
}

.barre_recherche
{
    width: 100%
}

.caserecherche
{
    font-size: 13px;
}

.titrefiltre
{
    margin-right: 4em;
}

.filtresrecherche
{
    display: flex;
    flex-wrap: wrap;
}

.barrefiltres
{
    margin-bottom: 1em;
}

.main
{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 0em;
    
}

.hebergement
{
    width: 100%;
    background-color: white;
}

.detailhebergement
{
    width: 90%;
}

.popularite
{
    width: 100%;
    border-radius: 0em;
    margin-left: 0em;
}

.container_activite
{
    max-width: 320px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

}

@media screen and (min-width: 375px) and (max-width: 426px)
{

Body
{
    max-width: 425px;
    width: 100%;
    margin: auto;
}

.header
{
    margin:0mm;
    display: block;
    position: relative;
}
.headerlogo
{
    margin: 1.2em;
    padding: 0em;
}

.nav 
{
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0em;

}

.navbar
{
    width: 100%;
    margin-right: 1em;
}

.navbar > a.logements
{
    border-bottom: 3px solid #0065FC;
    border-top: 0;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

a.activite_lien
{
    border-bottom: 3px solid #F2F2F2;
    border-top: 0;
    padding-bottom: 1em;
    padding-right: 3.7em;   
    padding-left: 3.6em;
    margin-right: 0em;
}

.inscrire
{
    position: absolute;
    top: 22px;
    right: 20px;
}

.recherche
{
    margin-top: 3em;
}

.titre 
{
    font-size: 100%; 
    margin-top: 2em;
    line-height: 1.8em; 
    margin-left: 1em; 
}

.soustitre
{
    font-size: 1em;
    margin-left: 1em;
}

.barre_recherche
{
    max-width: 330px;
    margin-top: 2em;
    margin-left: 1em;   
}

.endroit
{
    padding-top: 0.8em;
}

.caserecherche
{
    max-width: 240px;
    font-size: 19px;
}

.caserecherche::placeholder
{
    max-width: 240px;
}

.buttonrechercher
{
    border-radius: 0.9em 0.9em 0.9em 0.9em;
    padding-left: 1em;
    margin-left: -0.6em;
}

.rechercher
{
    display: none;
}

.fas.fa-search
{
    display: block;
}

.filtresrecherche
{
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    font-weight: bold;
    flex-wrap: wrap;
    max-width: 90%;
}

.titrefiltre 
{
    width: 100%;
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

.barrefiltres
{
    margin: 0;
    margin-bottom: 10px;
    border: 2px solid #f2f2f2;
}

.iconesfiltres
{
    font-size: 22px;
    width: 2em;
    height: 2em;
}
.titrecategoriesfiltres
{
    font-size: 0.9em;
}

.iconeinfoville
{
    font-size: 0.7em;
    height: 1.8em;
    width: 2.4em;
    margin-top: 2em;
}

.infotexteville
{
    font-size: 16px;
}

.main
{
    margin: 0;
    flex-direction: column-reverse;
    padding: 0;
}

.popularite
{
    margin: 0;
    margin-top: 1em;
    border-radius: 0;
    padding: 0em;
    width: 100%;
}

.titrepopularite
{
    font-size: 25px;
    padding-left: 0.8em;
    padding-bottom: 0;
}

.listepophebergement
{
    width: 90%;
}
.populariteimg
{
    width: 50%;
    height: 100%;
    padding-left: 0.3em;
}

.textepopulariteimg
{
    max-width: 90%;
}

.textepopulariteimg > .fa-star 
{
    margin-top: 2em;
    font-size: 13px;
}

.textepopulariteimg > p
{
    font-size: 16px;
}


.hebergement
{
    background-color: white;
    width: 100%;
}

.detailhebergement
{
    width: 90%;
    margin-bottom: 1em;
}

.hebergementimg
{
    width: 100%;
}

.textehebergement > h2
{
    font-size: 1.2em;
    line-height: 0.8em;
}

.notehebergement
{
    padding: 0em;
    padding-left: 1em;
    margin: 0em;
}
.afficherplus
{
    font-size: 1em;
}

.titre_activite
{
    font-size: 1.2em;
}

.container_activite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    max-width: 100%;
}

.detail_activitexl , .detail_activite_double
{
    max-height: 100%;
    max-width: 100%;
    font-size: 1.1em;
}

.activiteimglarge
{
    max-height: 150px;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_medium
{
    max-height: 150px;
    max-width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_small
{
    max-height: 150px;
    max-width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.footer_container
{
    display: flex;
    flex-direction: column;
    padding-left: 0.6em;
}

.col
{
    font-size: 18px;
    line-height: 2em;
    margin-right: 0em;
}


}
/*---------------tablette-----------*/
@media screen and (min-width: 602px) and (max-width: 768px)

{

body
{
    max-width: 768px;
    width: 100%;
    margin: 0em;
}
    
a.logements
{
    padding-top: 1em;
}

.barre_recherche
{
    margin-top: 4%;
}

.recherche
{
    margin-right: 0em;
}


.filtresrecherche
{
    width: 100%;
    max-width: 850px;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-around;
}


.barrefiltres
{
    margin-top: 3%;
    max-width: 10%;
    padding-right: 3%;
    max-width: 205px;
    
}

.titrecategoriesfiltres
{
    font-size: 85%;
}

.main
{
    margin: 0em;
    max-width: 99%;
}

.hebergement
{
    max-width: 65%;
    margin-left: 1em;
}

.detailhebergement
{
    width: 41%;
    margin: 3%;
}

.textehebergement
{
    font-size: 80%;
}


.popularite
{
    max-width: 35%;
    max-height: 750px;
    margin-right: 1em;
}

.listepophebergement
{
    max-width: 95%;
}

.textepopulariteimg
{
    max-width: 100%;
}

.textepopulariteimg p
{
    margin: 0em;
}

.textepopulariteimg > .fa-star 
{
    margin-top: 1%;

}

.titre_activite
{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1.6em;
}

.footer_container
{
    width: 90%;
}

}

/*---------------tablette2-----------*/
@media screen and (min-width:769px) and (max-width: 1024px)

{

body
{
    max-width: 1024px;
    margin: 0em;
}

.header
{
    max-width: 100%;
}

.logo 
{
    height: 100%;
}

a.logements
{
    padding-top: 1.7em;
}

.soustitre
{
    font-size: 1.3em;
}

.barre_recherche
{
    margin-top: 2%;
}

.filtresrecherche
{
    width: 100%;
    max-width: 850px;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-around;
}


.barrefiltres
{
    margin-top: 3%;
    max-width: 25%;
    padding-right: 3%;
    max-width: 205px;
    
}

.titrecategoriesfiltres
{
    font-size: 86%;
}


.infoville
{
    font-size: 90%;
}

.main
{
    width: 99%;
    margin: 0em;
    padding-left: 1em;
}

.hebergement
{
    max-width: 65%;
}

.hebergement_titre
{
    padding-top: 3%;
    font-size: 90%;
}


.detailhebergement
{
    width: 40%;
    margin: 3%;
}

.textehebergement
{
    font-size: 80%;
}


.popularite
{
    max-width: 35%;
    max-height: 750px;
}

.titre_activite
{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1.6em;
}


.container_activite
{
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 2em;
    padding: 0em;
}


.footer
{
    width: 100%;
    max-width: 1024px;
}

.footer_container
{
    width: 85%;
}

.col
{
  
  font-size: 90%;
}

}