/*----------------Général----------------*/

Body
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 2em;
}

h1, h2, h3
{
    font-weight: bold;
    margin: 0em;
    padding-bottom: 0.4em;
}

a
{ 
    text-decoration: none;
    color: inherit;
}

.color
{
   color: #0065FC; 
}

.nocolor
{
    color:#F2F2F2
}

h2
{
    font-size: medium;
}

p
{
    line-height: 1em;
}

/*--------------------HEADER------------*/
.header
{
    display: flex;
    justify-content: space-between;
}

.headerlogo
{
    margin: 0 0 1.8em 0;
    padding: 0.8em 0 0 0;  
}

a.logements
{
    border-top: 3px solid #0065FC;
    padding-top: 1.8em;
    
}

.activite_lien
{
    padding: 2.6em;
}


/*-----------------SECTION 1-------------*/
/*---------------BARRE RECHERCHE VILLE---*/

.infoville
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.iconeinfoville
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    height: 1.4em;
    width: 1.4em;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin: 2em 1em 2em 1em;
    padding:2px;   
}

.endroit
{
    font-size: 1.1em;
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
    padding: 1em;
}

.barre_recherche
{
    display: inline-flex;
    text-align: center;
    height: 3em;
    margin-top: 0.8em;  
}

.caserecherche
{
    font-size: 1.1em;
    display: flex;
    border: 1px solid #F2F2F2;
    width: 260px;
}

.caserecherche::placeholder
{
    font-weight: bold;
    color: black;
    border: 0em;
    padding-left: 1em;
}

.caserecherchetxt
{
    font-size: 1em;
    border: 0;
}

.buttonrechercher
{
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #0065FC;
    text-align: center;
    border: 0;
    border-radius: 0 1em 1em 0;
    padding-right: 1em;
}

.fas.fa-search
{
    display: none;
}

/*---------------BARRE FILTRES-----------*/

.barrefiltres
{
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    padding-right: 1em;
    margin-left: 2.5em;  
}

.barrefiltres:hover
{
    background-color: #DEEBFF;
}

.filtresrecherche
{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    margin-top: 2em; 
    flex-direction: row;
    margin-left: 1em;
}

.iconesfiltres
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    margin: -2px 10px -2px -2px;
}

/*-----------------SECTION 2-------------*/
/*---------------HEBERGEMENTS-----------*/
.main
{
    display: flex;
    align-content: center;
    padding-bottom: 0em;
}

.hebergement_titre
{
    padding: 2em 0 0 2em;
}

.container_hebergement
{
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-flow: row;
    flex-flow: wrap;
    justify-content: center;
    padding: 0em;  
}

.hebergement
{
    border-radius: 1em;
    background-color: #F2F2F2;  
    height: 740px;
}

.hebergementimg
{
    height: 150px;
    width: 275px;
    border-radius: 1.5em 1.5em 0 0;
    border: 1px solid white;
    box-sizing: content-box;
    object-fit: cover;
    margin: 0em;
    text-align: center;
}

.detailhebergement
{
    margin: 0.8em;
    background-color: white;
    border-radius: 1.5em;
    padding: 3px;
    justify-content: center;
    box-shadow: 0 0 15px #0000002e; 
}

.textehebergement 
{
    padding: 1em;
}

.textehebergement p
{
    margin-bottom: 0.6em;
    margin-top: 0em;
}
.notehebergement
{
    padding: 1.8em 0 0 1.5em;
    font-size: 1.2em;
}

/*---------------POPULAIRES-----------*/
.containerpopularite > a
{
    width: 80%;
    margin: 1.5em;
    display: block;
}

.textepopulariteimg > .fa-star
{
    margin-top: 3em;
}

.textepopulariteimg > p
{
    margin-top: 0.5em;
}

.populariteimg
{
    height: 160px;
    width: 155px;
    padding-left: 7px;
    border: 1px solid white;
    border-radius: 1.2em 0 0 1.2em;
    box-sizing: border-box;
    object-fit: cover;
}

.listepophebergement
{
    display: flex;
    align-items: center;
    width: 350px;
    height: 180px;
    background-color: white;
    border-radius: 1.2em;
    margin-bottom: 2.5em;
    margin-top: 1em;
    box-shadow: 0 0 15px #0000002e; 
    font-size: 1em;
}

.popularite
{
    background-color: #F2F2F2;
    border-radius: 1em;
    margin-left: 2em;
    flex-flow: column;
    height: 740px;
}

.titrepopularite
{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1em 1em;
    font-size: 1.4em;
}

.textepopulariteimg
{
    height: 150px;
    width: 200px;
    padding-left: 0.6em;
    padding-right: 0.8em;
    padding-top: 0.8em;
    line-height: 1em;
}

/*---------------ACTIVITES-----------*/
.activite
{
    margin-top: 4em;
}

.container_activite
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1em;
    background-color: white;
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.activiteimglarge
{
    height: 500px;
    width: 330px;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_medium
{
    height: 255px;
    width: 330px;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_small
{
    height: 180px;
    width: 330px;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}


.detail_activitexl 
{
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 15px #0000002e;  
}

.detail_activite
{
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 15px #0000002e; 
}

.container_activite h5
{
    padding-left: 1em;
    margin-top: 0.8em;
    padding-bottom: 1em;
}
/*---------------FOOTER-----------*/
footer
{
    background-color: #F2F2F2;
    margin-left: -2em;
    margin-right: -2em;
}

.footer_container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0em;
    margin-left: 0em;
    
}

ul
{
    list-style-type: none;
    padding: 0.6em; 
}

.col
{
    line-height: 1.6em;
    margin-right: 25em;
    font-size: 0.8em;
    margin-left: 2.6em;
    padding-left: 0em;
}

.col h4
{
    line-height: 0.4em;
    font-weight: bold; 
}

/*---------------@media-----------*/
/*---------------mobile-----------*/
@media screen and (max-width: 601px)
{
Body
{
    max-width: 375px;
    width: 100%;
    margin: auto;
}

.headerlogo
{
    margin: 1.2em;
    padding: 0em;
}

.header
{
    margin:0mm;
    display: block;
}

.inscrire
{
    position: absolute;
    top: 22px;
    right: 20px;
}

.nav 
{
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0em;

}

.navbar
{
    width: 100%;
    margin-right: 1em;
}

.activites
{
    padding-bottom: 1em;
}

.navbar > a.logements
{
    border-bottom: 3px solid #0065FC;
    border-top: 0;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

a.activite_lien
{
    border-bottom: 3px solid #F2F2F2;
    border-top: 0;
    padding-bottom: 1em;
    padding-right: 3.7em;   
    padding-left: 3.6em;
    margin-right: 0em;
}

.recherche
{
    margin-left: 1em;
    margin-right: 2em;
    margin-top: 2.8em;
}

.titre 
{
    font-size: 1em;   
}

.soustitre
{
    font-size: 1em;
    margin-bottom: 1em;
}

.barre_recherche
{
    max-width: 330px;   
}

.endroit
{
    padding-top: 0.8em;
}

.rechercher
{
    display: none;
}

.caserecherche
{
    max-width: 240px;
    font-size: 19px;
}

.caserecherche::placeholder
{
    max-width: 240px;
}
.fas.fa-search
{
    display: block;
}

.buttonrechercher
{
    border-radius: 0.9em 0.9em 0.9em 0.9em;
    padding-left: 1em;
    margin-left: -0.6em;
}


.filtresrecherche
{
    flex-direction: row;
    justify-content: space-between;
    margin: 2.8em 0 1em 0;
    font-weight: bold;
    flex-wrap: wrap;
}

.titrefiltre 
{
    width: 100%;
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

.titrecategoriesfiltres
{
    font-size: 0.9em;
}
.barrefiltres
{
    margin: 0;
    margin-bottom: 10px;
    border: 2px solid #f2f2f2;
}

.iconesfiltres
{
    font-size: 22px;
    width: 2em;
    height: 2em;
}

.infotexteville
{
    font-size: 14px;
}

.iconeinfoville
{
    font-size: 0.7em;
    height: 1.8em;
    width: 2.4em;
    margin-top: 0em;
}

.main
{
    margin: 0;
    flex-direction: column-reverse;
    padding: 0;
}

.titrepopularite
{
    font-size: 25px;
    padding-left: 0.8em;
}

.popularite
{
    margin: 0;
    margin-top: 1em;
    border-radius: 0;
    max-height: 650px;
    padding: 0em;
}


.listepophebergement
{
    height: 150px;
    width: 330px;
    margin-bottom: 0em;
}
.populariteimg
{
    width: 130px;
    height: 140px;
    padding-left: 0.3em;
}

.textepopulariteimg
{
    font-size: 10px;
    padding-top: 2em;
    line-height: 20px;
    padding-right: 8px;
    padding-left: 15px;
}
.titrepopularite
{
    padding-bottom: 0;
}

.textepopulariteimg > .fa-star 
{
    margin-top: 2em;
    font-size: 13px;
}

.textepopulariteimg > p
{
    font-size: 16px;
}

.afficherplus
{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1em;
}

.detailhebergement
{
    width: 332px;
    height: 205px;
}

.hebergementimg
{
    width: 330px;
    height: 110px;
}


.hebergement
{
    background-color: white;
    height: 1500px;
}


.textehebergement > h2
{
    font-size: 1.2em;
    line-height: 0.8em;
}

.notehebergement
{
    padding: 0em;
    padding-left: 1.8em;
    margin: 0em;
}


.titre_activite
{
    padding-left: 1.6em;
    font-size: 1.2em;
}

.container_activite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}
.detail_activitexl , .detail_activite_double
{
    max-width: 333px;
    margin-right: 1.2em;
    margin-left: 1.2em;
    font-size: 1.1em;
}


.activiteimglarge
{
    height: 130px;
    width: 333px;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_medium
{
    height: 130px;
    width: 333px;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}

.activiteimg_small
{
    height: 130px;
    width: 335px;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
}



.footer_container
{
    display: flex;
    flex-direction: column;
    padding-left: 0.6em;
    width: 100%;
}

.col
{
    font-size: 18px;
    line-height: 2em;
    margin-right: 0em;
}


}
/*---------------tablette-----------*/
@media screen and (min-width:602px) and (max-width: 1024px)

{

body
{
    max-width: 1024px;
    margin: 1em;
    margin-bottom: 0em;
}

.logo 
{
    height: 75px;
}

nav 
{
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 5em;
    margin-right: 2em;
}

.soustitre
{
    font-size: 1.3em;
}

.barre_recherche
{
    margin-top: 2.6em;
}


.barrefiltres
{
    margin-top: 1em;
    margin-left: 1.8em;
}

.infoville
{
    font-size: 1.1em;
}

.hebergement
{
    max-width: 63%;
    margin-left: 0.8em;
    height: 1000px;
}

.textehebergement
{
    text-align: center;
    font-size: 15px;
}

.textehebergement > h2
{
    
    font-size: 19px;
}

.afficherplus
{
    margin-top: -1em;
}


.popularite
{
    max-width: 30%;
    padding-right: 0em;
    height: 750px;
}

.listepophebergement
{
    width: 260px;
    height: 170px;

}

.textepopulariteimg
{
    width: 110px;
    padding-left: 12px;
    text-align: center;
}

.textepopulariteimg > .fa-star 
{
    margin-top: 0.2em;
    font-size: 13px;
}

.textepopulariteimg > p
{
    font-size: 16px;
    text-align: center;
}

.populariteimg
{
    width: 140px;
}

.titre_activite
{
    text-align: center;
    font-size: 24px;
}

.container_activite
{
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 96%;
    margin-top: 2em;
}

.footer_container
{
    max-width: 1024px;
}
.col
{
  margin-right: 0em;
  font-size: 15px;
}

}