/*----------------Général----------------*/

Body
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 2em;
}

h1, h2, h3
{
    font-weight: bold;
    margin: 0em;
    padding-bottom: 0.4em;
}

h4
{
    font-weight: bold;
    padding: 1em 0 1em 1em;
    margin:0;   
}

a
{ 
    text-decoration: none;
    color: inherit;
    
}

.color
{
   color: #0065FC; 
}

.nocolor
{
    color:#F2F2F2
}

h2
{
    font-size: medium;
}

p
{
    line-height: 1em;
}


/*--------------------HEADER------------*/
.header
{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.headerlogo
{
    
    margin: 0 0 2em 0;
    padding: 1em 0 0 0;
    
}

a.logements
{
    border-top: 3px solid #0065FC;
    padding-top: 1em;
    
}

.activites
{
    padding: 2.6em;
}



/*-----------------SECTION 1-------------*/
/*---------------BARRE RECHERCHE VILLE---*/

.infoville
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.iconeinfoville
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    height: 1em;
    width: 1em;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin: 2em 1em 2em 1em;
    padding:2px;   
}

.endroit
{
    font-size: 1.1em;
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
    padding: 1em;
}

.barre_recherche
{
    display: inline-flex;
    text-align: center;
    height: 3em;
    margin-top: 0.8em;
    
}

.caserecherche
{
    font-size: 1.1em;
    display: flex;
    border: 1px solid #F2F2F2;
    width: 260px;
}

.caserecherche::placeholder
{
    font-weight: bold;
    color: black;
    border: 0em;
    padding-left: 1em;

}

.caserecherchetxt
{
    font-size: 1em;
    border: 0;
}

.buttonrechercher
{
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #0065FC;
    text-align: center;
    border: 0;
    border-radius: 0 1em 1em 0;
    padding-right: 1em;
}
.rechercher
{
    display: ;
}
.loupe
{
    display: none;
}

/*---------------BARRE FILTRES-----------*/

.barrefiltres
{
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    padding-right: 1em;
    margin-left: 2.5em;
    
}

.barrefiltres:hover
{
    background-color: #DEEBFF;
}

.filtresrecherche
{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    margin-top: 2em; 
    flex-direction: row;
}

.iconesfiltres
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 3px solid #DEEBFF;
    background-color: #DEEBFF;
    margin: -2px 10px -2px -2px;
}

/*-----------------SECTION 2-------------*/
/*---------------HEBERGEMENTS-----------*/
.main
{
    display: flex;
    align-content: center;
    margin: 0 2em 0 2em;
}

.hebergement_titre
{
    padding: 2em 0 0 2em;
}

.container_hebergement
{
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-flow: row;
    flex-flow: wrap;
    justify-content: center;
    padding: 0em;
    
}
.hebergement
{
    border-radius: 1em;
    background-color: #F2F2F2;
    
}



.hebergementimg
{
    height: 150px;
    width: 275px;
    border-radius: 1.5em 1.5em 0 0;
    border: 1px solid white;
    box-sizing: content-box;
    object-fit: cover;
    margin: 0em;
    text-align: center;
}



.detailhebergement
{
    margin: 0.8em;
    background-color: white;
    border-radius: 1.5em;
    padding: 3px;
    justify-content: center;
    box-shadow: 0 0 15px #0000002e; 
}

.textehebergement 
{
    padding: 1em;
}

.notehebergement
{
    padding: 1em 0 0 1.5em;
    font-size: 1.2em;
}


/*---------------POPULAIRES-----------*/

.container_popularite
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 0 1em 0 1em;
}

.populariteimg
{
    height: 160px;
    width: 170px;
    padding-left: 7px;
    border: 1px solid white;
    border-radius: 1em 0 0 1em;
    box-sizing: border-box;
    object-fit: cover;

}

.listepophebergement
{
    display: flex;
    align-items: center;
    width: 370px;
    height: 180px;
    background-color: white;
    border-radius: 1em;
    margin-bottom: 2.5em;
    margin-top: 1em;
    box-shadow: 0 0 15px #0000002e; 
}

.popularite
{
    background-color: #F2F2F2;
    border-radius: 1em;
    margin-left: 2em;
    flex-flow: column;
    height: 800px;


}

.titrepopularite
{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1em 1em;
    font-size: 1.4em;
}

.textepopulariteimg
{
    height: 150px;
    width: 200px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.8em;
    line-height: 1em;
}


/*---------------@media-----------*/
/*---------------mobile-----------*/
@media screen and (max-width: 601px)
{
body
{
    margin: 0em;
}

.headerlogo
{
    margin: 0.8em;
    padding: 0em;
}

.header
{
    margin:0mm;
    display: block;

}

.inscrire
{
    position: absolute;
    top: 22px;
    right: 20px;

}

.nav 
{
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0;
}

.navbar
{
    width: 100%;
    text-align: center;
}

.activites
{
    border-bottom: 3px solid #F2F2F2;
    margin: 0;
    padding-bottom: 1em;
}

a.logements
{
    border-bottom: 3px solid #0065FC;
    border-top: 0;
    margin: 0;
    padding-bottom: 1em;
}

.titre 
{
    font-size: smaller;   
}

.soustitre
{
    font-size: smaller;
}

.barre_recherche
{
    max-width: 250px;
    
}

.recherche
{
    margin: 1em;
}

.rechercher
{
    display: none;
}

.caserecherche
{
    max-width: 100px;
    font-size: 1em;
    padding-right: 1em;
}

.caserecherche::placeholder
{
    max-width: 150px;
}
.loupe
{
    display: block;
}


.filtresrecherche
{
    flex-direction: row;
    justify-content: space-between;
    margin: 2.8em 0 1em 0;
    font-weight: bold;
    flex-wrap: wrap;
}

.titrefiltre 
{
    width: 100%;
    font-size: 1.4em;
    margin: 0 0 1em 0;
}

.titrecategoriesfiltres
{
    font-size: 1em;
}
.barrefiltres
{
    margin: 0;
    margin-bottom: 10px;
}

.caserecherche
{
    max-width: 150px;
}

.infoville
{
    font-size: 1em;
}

.iconeinfoville
{
    font-size: 1em;
}

.main
{
    margin: 0;
    flex-direction: column-reverse;
    padding: 0;

}

.popularite
{
    margin: 0;
    border-radius: 0;
}

.containerpopularite
{
    margin: 2.4em;    
}
.listepophebergement
{
    width: 300px;
    height: 160px;
}

.populariteimg
{
    width: 150px;
    height: 140px;

}

.textepopulariteimg
{
    font-size: 1em;
    padding-top: 0.8;
    line-height: 0.9em;
}
.titrepopularite
{
    padding-bottom: 0;
}
.hebergement
{
    background-color: white;
}

.container_hebergement
{
    width: 375px;
    padding: 0rem;
}

.detailhebergement
{
    margin-top: 0.8em;
    margin-left: 0;
    margin-right: 0;
    height: 250px;
}

.textehebergement
{
    font-size: 0.8em;
    line-height: 0.8em;
}


}
/*---------------tablette-----------*/
@media screen and (max-width: 1024px)

{
.filtresrecherche
{
    font-size: 1em;
    margin-top: 2em;
}
.barre_recherche
{
    margin-top: 2em;
}

.infoville
{
    font-size: 1.1em;
    margin-top: 1.6em;
}


}